<!-- empresas.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Empresas</title>
</head>
<body>
    <h1>Lista de Empresas</h1>
    <ul>
        <% empresas.forEach((empresa) => { %>
            <li><%= empresa.nombre %></li>
        <% }); %>
    </ul>
</body>
</html>
